# Basic String Operation

In [1]:
# Assigning the string "Hello" to the variable a
a = "Hello"

# Printing the value of the variable a
print(a)

Hello

# Accessing Individual letters

In [2]:
# Assigning the string "Hello, World!" to the variable a
a = "Hello, World!"

# Printing the character at index 1 of the string stored in variable a
print(a[1])

e

In [3]:
# Assigning the string "Vidya, Pannangi!" to the variable b
b = "Vidya, Pannangi!"

# Printing the substring from index 2 (inclusive) to index 5 (exclusive) of the string stored in variable b
print(b[2:5])

dya

# Length String Operation

In [4]:
# Assigning the string "Vidya, Pannangi!" to the variable a
a = "Vidya, Pannangi!"

# Printing the length of the string stored in variable a using the len() function
print(len(a))

16

#  Upper String Operation

In [5]:
# Calling the upper() method to convert all characters in the string to uppercase
# and then printing the modified string
print(a.upper())

VIDYA, PANNANGI!

# Lower String Operation

In [6]:
# Calling the lower() method to convert all characters in the string to lowercase
# and then printing the modified string
print(a.lower())

vidya, pannangi!

# Replace String Operation

In [7]:
# Calling the replace() method to replace all occurrences of "V" with "J" in the string
# and then printing the modified string
print(a.replace("V", "J"))

Jidya, Pannangi!

# String Concatenation

In [8]:
# Assigning the string "Vidya" to the variable a
a = "Vidya"

# Assigning the string "Pannangi" to the variable b
b = "Pannangi"

# Concatenating the strings stored in variables a and b, along with a space in between,
# and assigning the result to the variable c
c = a + " " + b

# Printing the concatenated string stored in variable c
print(c)

Vidya Pannangi

# Splitting a String

In [9]:
# Assigning the string 'One two three four' to the variable my_string
my_string = 'One two three four'

# Using the split() method to split the string into a list of words based on whitespace
word_list = my_string.split()

# Printing the resulting list of words
print(word_list)

['One', 'two', 'three', 'four']

In [11]:
# Assigning the string '1/2/3/4/5' to the variable my_string
my_string = '1/2/3/4/5'

# Using the split() method to split the string into a list of numbers based on the '/' delimiter
number_list = my_string.split('/')

# Printing the resulting list of numbers
print(number_list)

['1', '2', '3', '4', '5']

# String Tokens

In [12]:
# Assigning the string 'peach raspberry strawberry vanilla' to the variable str
str = 'peach raspberry strawberry vanilla'

# Using the split() method to split the string into a list of tokens (words) based on whitespace
tokens = str.split()

# Printing the resulting list of tokens
print(tokens)

['peach', 'raspberry', 'strawberry', 'vanilla']

In [13]:
# Assigning the string 'www.example.com' to the variable my_address
my_address = 'www.example.com'

# Using the split() method to split the string into a list of tokens (subdomains and domain) based on the '.' delimiter
tokens = my_address.split('.')

# Printing the resulting list of tokens
print(tokens)

['www', 'example', 'com']

# Strip Operations

In [3]:
# Original string with leading and trailing whitespaces
a = " Hello  w, world  "

# Using strip() to remove leading and trailing whitespaces
print(a.strip()) 

# Using rstrip() to remove trailing whitespaces
print(a.rstrip())

Hello  w, world
 Hello  w, world

In [6]:
# Original string with leading and trailing whitespaces
a = " Hello  w, world  "

# Using lstrip() to remove leading whitespaces
print(a.lstrip())

Hello  w, world

In [5]:
# Original string with leading and trailing hyphens
a = "--Hello  w, world--"

# Using lstrip('-') to remove leading hyphens
print(a.lstrip('-'))

Hello  w, world--

In [7]:
# Original string with leading and trailing hyphens
a = "--Hello  w, world--"

# Using rstrip('-') to remove trailing hyphens
print(a.rstrip('-'))

--Hello  w, world

In [8]:
# Original string with leading and trailing hyphens
a = "--Hello  w, world--"

# Using strip('-') to remove both leading and trailing hyphens
print(a.strip('-'))

Hello  w, world

In [9]:
# Original string containing numeric characters
a = '112'

# Using isdigit() to check if all characters in the string are digits
print(a.isdigit())

True

# String Methods

In [10]:
# Original string containing alphanumeric characters
a = "Kamla"

# Using isalnum() to check if all characters in the string are alphanumeric
print(a.isalnum())  

# Using isalpha() to check if all characters in the string are alphabetic
print(a.isalpha())  

# Using isupper() to check if all characters in the string are uppercase
print(a.isupper())

True
True
False